.panel-primary>.panel-heading {
    color: #fff;
    background-color: #005071;
    border-color: #005071;
}



.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    text-align: center;
}


.button {
  display: inline-block;
  border-radius: 6px;
  background-color: #005071;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 234px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover {
    background-color: #049c04;
  }

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button2 {
  background-color: #005071;
  color: white;
 
  border: 1px solid #005071;
  padding: 20px;
  pointer-events: none;
}

.button2:hover {
  background-color: #005071;
  color: white;
}
